
 /*Variables*/ 
:root {
    --primary-color: rgb(73 114 172);
    --secondary-color: rgb(23 20 73);
    --primary-color-of-letters: rgb(242, 242, 242);
    --padding: 3%;
    --border-radius: 10px;
    --secondary-color-of-letters: black;
    --font-family: Raleway;
    --display: flex;
    --margin-top: 5%;
    --margin-left: 20%;
    --alineacion: center;
}

 /*Header General*/ 

header {
    background-color: rgb(252, 255, 252);
    height: 10%;
    width: 100%;
    display: var(--display);
    position: sticky;
    top: 0; 
    z-index: 1000;
}

a {
    text-decoration: none; 
    color: inherit; 
}

.body {
    background-color: var(--primary-color);
    margin: 0%;
}


.box_title {
    width: 30%;
    display: flex;
    padding: calc(var(--padding) - 2.5%);
    align-items: var(--alineacion);
}

.link {
    color: var(--secondary-color-of-letters);
    list-style: none;
}

.main_link {
    color: rgb(81, 94, 177);
}

.h1 {
    margin-left: calc(var(--margin-left) - 15%);
    font-family: var(--font-family);
    font-size: 120%;
}

.centrado {
    display: flex;
    margin-top: calc(var(--margin-top) - 0.5%);
    margin-left: calc(var(--margin-left) - 8%);;
    width: 80%;
    align-items: var(--alineacion);
    gap: 60px;
}

.separacion {
    width: 50%;
    font-family: var(--font-family);
}

.letra {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 80%;
}

.letras {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 80%;
    color: var(--primary-color-of-letters);
}

#tamanio {
    font-size: 105%;

}

.alineacion {
    margin-top: calc(var(--margin-top) - 3%);
    margin-left: calc(var(--margin-left) - 18%);;
    width: 15%;
    justify-content: center;
}

.imagenes {
    font-size: 25px;
    margin-left: 10%;
    margin-top: calc(var(--margin-top) + 0.6%);
}

.movil {
    display: none;
}

 /*CSS de la pagina principal*/ 

main {
    display: flex;
    justify-content: var(--alineacion);
    align-items: var(--alineacion);
    padding: calc(var(--padding) - 1%);
    gap: 2%;
}

.box_main {
    margin-top: calc(var(--margin-top) - 1%);
    background-color: var(--secondary-color);
    height: 25%;
    width: 75%;
    display: flex;
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.imagen_main {
    margin-left: calc(var(--margin-left) - 2%);
    width: 90%;
    height: 100%;
    border-radius: calc(var(--border-radius) - 5px);
    z-index: 20;
    position: relative;
    object-fit: cover;
}

.imagen_descuento {
    margin-left: calc(var(--margin-left) + 42%);
    margin-top: calc(var(--margin-top) - 18%);
    width: 45%;
    height: 50%;
    position: relative;

}

.cuadro_decoracion {
    margin-left: calc(var(--margin-left) - 18%);
    margin-top: var(--margin-top);
    background-color: rgb(252, 255, 252);
    height: 400px;
    width: 5%;
    position: absolute;
    z-index: 10;
}

.ofertas_info {
    margin-left: calc(var(--margin-left) - 17%);
    color: var(--primary-color-of-letters);
    font-size: 240%;
    display: inline-block;
}

#tamaño_de_letra {
    font-size: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.button_info {
    border-radius: var(--border-radius);
    border: 0 solid;
    justify-content: center;
    width: 50%;
    padding: calc(var(--padding) - 5%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    background: rgb(47, 104, 187);
    margin-left: calc(var(--margin-left) + 2%);
    margin-top: calc(var(--margin-top) - 2%);
    transition: background-color 0.3s ease;
    text-align: center;
}

.target {
    display: inline-block;
    justify-content: var(--alineacion);
    width: 14%;
    height: 60%;
    background-color: var(--primary-color-of-letters);
    padding: calc(var(--padding) - 2%);
    color: var(--secondary-color-of-letters);
    margin-top: calc(var(--margin-top) - 1%);
    margin-left: calc(var(--margin-left) - 20%);
    margin-right: 0%;
    font-family: var(--font-family);
    font-size: 14px;
    border-radius: var(--border-radius);
    
}

.centrar_img {
    margin-left: calc(var(--margin-left) - 4%);
}

.target_img {
    width: 70%;
    height: 70%;
}

#margin_tarjetas {
    margin-left: 0%;
}

.target:hover {
    transform: scale(1.2); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.centrar_nav {
    margin-left: calc(var(--margin-left) - 14%);
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 100px;
    row-gap: 50px;
    min-width: 1vw;
    max-width: 100%; 
    width: 90vw;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(23, 30, 73);
    font-style: rgb(255, 252, 255);
    font-style: none;
    width: 250px;
    z-index: 999;
    top: 38%;
    padding: 0;
    box-shadow: 2px 2px 5px 0 rgb(25, 19, 114);
    border-radius: calc(var(--border-radius) - 5px);
}

li:hover .submenu{
    display: block;
    z-index: 99;
}

.submenu li {
    text-align: left;
    padding: 0;
    display: block;
    padding: 19px;
    z-index: 99;
}

.seccion_imagenes {
    margin-left: 2%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    gap: 20px; 
    width: 96%;
    height: auto;
    align-items: start;
}


.bloque {
    position: relative; 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.bloque:nth-child(1) {
    background-image: url('img/Imagen_fondo_lentes_1.png'); 
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.bloque:nth-child(2) {
    background-image: url('img/Imagen_fondo_lentes_2.png'); 
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


.texto {
    font-size: 24px;
    margin-bottom: 15px;
    z-index: 2; 
}

.button_base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.9); 
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.5s ease; 
}


#button_info {
    font-size: 16px;
    width: 20%;
    margin-top: calc(var(--margin-top) + 2%);
}

#button_info:hover {
    background-color: rgba(0, 86, 179, 0.8);
}

.button_info:hover {
    background-color: rgb(140, 181, 224)
}

 /*Footer general*/ 

.footer {
    display: grid;
    margin-top: 3%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: auto;
    background-color: floralwhite;
}

.bloque_footer {
    display: flex;
    justify-content: start;
    padding: 1%;
    color: black;
    margin-top: 30%;
    font-family: var(--font-family);
}

.bloque_texto {
    display:inline;
    justify-content: start;
    padding: 0%;
    color: black;
    margin-top: 1%;
    font-family: var(--font-family);
}

.bloque_texto a {
    font-size: 35px;
    margin: 5%;
}

#margin_footer_text {
    margin-left: 5%;
    margin-top: 9%;
    justify-content: center;
    font-size: 130%;
}

#margin_footer_img {
    margin-top: 3%;
    font-size: 50px;
}

#tamaño_de_letra_footer {
    font-size: 90%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.redes_sociales {
    width: 10%;
    height: 15%;
}


 /*CSS del login*/ 
.gradiante_login {
    background-color: rgb(54, 93, 165);

}

.contenedor_login {
    display: flex;
    position: relative;
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    align-items: center;
    font-family: var(--font-family);
}

.letra_login {
    font-size: 400%;
    width: 100%;
    text-align: center;
}

input {
    background: rgb(19, 49, 92);
    color: rgb(255, 255, 255);;
    width: 100%;
    border-radius: 6px;
    font-size: 28px;
    font-family: 'Segoe UI';
    padding: 0.5%;
}

.logo_login {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 850%;
    text-align: center;
}

.form_group {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: left;
}

.form_group h3 {
    font-size: 30px;
}

.return {
    font-size: 250%;
}

.main_icons a {
    font-size: 40px;
    margin-right: 5%;
    margin-top: 0%;
    transform: translate(2vw, 2vh);
}

.button_tamanio {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.button_login {
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin-top: 10%;
}

.extra_links a {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0%;
    margin-top: 8%;
    width: 100%;
}

.extra_links a:hover {
    text-decoration: underline;
    color: #2850d6;
}

/*Cuestionario*/

.box_cuestionario {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: var(--primary-color);
    align-items: center;
    max-width: 1550px;
    width: 80%;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px rgba(35, 62, 138, 0.678);
    font-family: var(--font-family);
    font-size: 32px;
}

form h2 {
    text-align: center;
    width: 100%;
} 

form h2::after {
    content: '';
    display: block; 
    width: 100%; 
    height: 3px; 
    background-color: rgb(10, 10, 10); 
    margin-top: 2px;
}

form:hover {
    box-shadow: 9px 7px 30px 6px rgba(112, 106, 106, 0.678);
}

form input {
    background: rgb(19, 49, 92);
    color: rgb(255, 255, 255);;
    border: 0 double;
    border-radius: 6px;
    font-size: 26px;
    box-sizing: border-box;
    margin-bottom: 2%;
    padding: 0.5%;
    width: 100%;
    font-family: 'Segoe UI'
}

form label {
    margin-bottom: 1%;
}

.contenedor_boton {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tamanio_boton_registrarse {
    margin-top: 5%;
    width: 30%;
    font-size: 24px;
}


/*Pagina de ventas*/
.contenedor_principal {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    width: 96%;
    height: 90vh;
    align-items: stretch;
    background-color: var(--primary-color-of-letters);
    margin: 2%;
}

section {
    font-family: var(--font-family);
    
}

.carousel,
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%; 
}

.carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.contenedor_info {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
}

.contenedor_info p {
    margin-top: 2.5%;
    margin-left: 1%;
}

#button_info {
    font-size: 16px;
    width: 26%;
    margin: 2%;
    margin-left: 5%;
}

.titulos_espacio {
    width: 100%;
}

.contenedor_info h4::after {
    content: '';
    display: block; 
    width: 100%; 
    height: 3px; 
    background-color: rgb(10, 10, 10); 
    margin-top: 2px;
}

.contenedor_info h6 {
    margin-top: 2%;
}

.margin {
    margin-top: 3%;
}

.imagen_estuche {
    width: 40%;
    height: 30%;
    border: 1px solid rgb(10, 10, 10);
}

.info_precio {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.letra_recomendaciones {
    margin-top: 10%;
    font-size: 400%;
    width: 100%;
    text-align: center;
}


@media (max-width: 980px) {
    /*Header General*/
    header {
        width: 100%;
    }

    h1 {
        font-size: 115%;
    }

    header nav a:nth-child(3) {
        display: none;
    }

    .box_title {
        width: 35%;
    }
    .separacion {
        width: 65%;
        margin-left: 2%;
        margin-top: 1%;
    }

    .centrado {
        width: 100%;
        gap: 40px;
        margin-left: 2%;
        justify-content: center;
    }

    .letra {
        font-size: 10px;
    }

    .alineacion {
        width: 40%;
        margin-left: 0.1%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    /*Pagina principal*/

    .box_main {
        width: 95%;
        height: 25%;
    }

    .ofertas_info {
        font-size: 140%;
    }
    .cuadro_decoracion {
        display: none;
    }

    .imagen_main {
        width: 80%;
    }

    .button_info {
        margin-left: 15%;
        width: 60%;
    }

    .imagen_descuento {
        width: 50%;
        height: 50%;
        margin-left: calc(var(--margin-left) + 45%);
        margin-bottom: 5%;
    }

    .target {
        width: 35%; 
        margin-top: 20px;
    }


    /*Pagina de ventas*/

    .contenedor_principal {
        grid-template-columns: repeat(1,1fr);
        height: 170vh;
    }

    #button_info {
        font-size: 14px;
        width: 36%;
        text-align: center;
    }

    .contenedor_info:nth-child(3) {
        justify-content: center;
    }

    .letra_recomendaciones {
        font-size: 250%;
    }


    /*Footer General*/

    .footer {
        grid-template-columns: repeat(4,1fr);
    }

    .bloque_footer {
        display: none;
    }

    .bloque_texto a{
        font-size: 20px;
    }
    
}

@media (max-width: 580px) {

    /*Header General*/

    header {
        width: 100%;
    }

    h1 {
        font-size: 100%;
    }

    .box_title {
        width: 45%;
    }

    .separacion {
        display: none;
    }

    .alineacion {
        margin-left: 1%;
        width: 53%;
    }

    .movil {
        display: inline-block;
    }

    /*Pagina Principal*/

    main {
        justify-content: center;
    }

    .box_main {
        width: 95%;
        height: 5%;
    }

    .button_info {
        font-size: 12px;
        cursor: pointer;
        width: 60%;
        margin-left: 15%;
    }

    .imagen_main {
        width: 80%;
    }

    .cuadro_decoracion {
        display: none;
    }

    .imagen_descuento {
        display: none
    }

    #tamaño_de_letra {
        font-size: 40%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .centrar_nav {
        margin-left: 6%;
    }

    .target {
        width: 80%; 
        margin-top: 10px;
        margin-left: 2%;
    }
    
    .seccion_imagenes {
        margin-left: 6%;
        width: 89%;
        grid-template-columns: 1fr;
    }

    .bloque {
        justify-content: center;
    }

    /*Login*/

    .contenedor_login {
        width: 90%;
        margin-left: 5%;
    }

    .button_login {
        font-size: 20px;
    }

    input {
        font-size: 18px;
    }
    .extra_links a {
        font-size: 14px;
    } 

    .form_group h3 {
        font-size: 24px;
    }

    .main_icons a {
        margin-top: 0%;
        margin-right: 7%;
        transform: translate(4vw, 2vh);
    }

    .logo_login {
        top: -20px;
        font-size: 750%;
    }

    /*Cuestionario*/

    .tamanio_boton_registrarse {
        margin-top: 5%;
        width: 60%;
        font-size: 16px;
    }

    /*Pagina de ventas*/
    .contenedor_principal {
        grid-template-columns: repeat(1,1fr);
        height: 90vh;
    }
    /*Footer General*/

    .footer {
        display: grid;
        margin-top: 3%;
        grid-template-columns: 1fr; 
        width: 100%;
        height: auto;
        background-color: floralwhite;
        text-align: center;
        padding: 0;
    }

    .bloque_footer {
        display: none;
    }
    
    
    .bloque_texto {
        margin-bottom: 10px; 
    }
    
    
    .bloque_texto p {
        display: none;
    }
    
    
    .bloque_texto h4 {
        display: block;
        font-size: 18px; 
        border-bottom: 1px solid #000000; 
        padding: 10px 0;
        margin: 0;
    }

    .bloque_texto:last-of-type h4 {
        display: none;
    }
    
    
    .bloque_texto:last-child {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    
    
    

}

